<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2" />
		<customErrors mode="Off"/>
		<webServices>
			<protocols>
				<add name="HttpGet" />
				<add name="HttpPost" />
			</protocols>
		</webServices>
	</system.web>
	<connectionStrings>
		<add name="DefaultConnection"
			 connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=accurate;Integrated Security=True;"
			 providerName="System.Data.SqlClient" />
		<add name="con" connectionString="Data Source=103.120.176.21;Initial Catalog=digit196_cloth;Integrated Security=false;User Id=digit196_cloth;Password=oz2K23#2b;connect timeout=0;Max Pool Size=40000" providerName="System.Data.SqlClient" />
		<!--	<add name="DefaultConnection" connectionString="Data Source=103.120.176.21;Initial Catalog=technoh1_eshopper;Integrated Security=false;User Id=technoh1_eshopper;Password=z#hi3H172;connect timeout=0;Max Pool Size=40000" providerName="System.Data.SqlClient" />
		<add name="con" connectionString="Data Source=103.120.176.21;Initial Catalog=technoh1_eshopper;Integrated Security=false;User Id=technoh1_eshopper;Password=z#hi3H172;connect timeout=0;Max Pool Size=40000" providerName="System.Data.SqlClient" />-->
	</connectionStrings>

</configuration>