<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2" />
		<customErrors mode="Off"/>
		<webServices>
			<protocols>
				<add name="HttpGet" />
				<add name="HttpPost" />
			</protocols>
		</webServices>
	</system.web>
	<connectionStrings>
		<!--<add name="DefaultConnection"
			 connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=accurate;Integrated Security=True;"
			 providerName="System.Data.SqlClient" />-->
		<add name="DefaultConnection" connectionString="Data Source=\MSSQLSERVER2022;Initial Catalog=digit196_accuratediagnose;Integrated Security=false;User Id=digit196_furniture_mart;Password=vDLm1hU?grcit9!5;connect timeout=0;Max Pool Size=40000" providerName="System.Data.SqlClient" />
		
		
	</connectionStrings>

</configuration>